<launch>
    <node name="plag_bag" pkg="rosbag" type="play" args="/media/cm/ExtCaoMing/datasets/kitti_raw_dataset/kitti_2011_09_26_drive_0001_synced.bag"/> 
    <!-- <include file="/home/cm/Workspaces/cam_lidar_fusion/src/darknet_ros/darknet_ros/launch/yolo_v3.launch"/> -->
    <node name="point_cloud_project_node" pkg="cam_lidar_fusion" type="lidar_odometry" output="screen"> 
    </node> 
</launch>